<div class="container-fluid">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">

                <!-- Demo content-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-7 mx-auto">
                            <h3 class="display-4">Welcome to P<span><img class="rounded-circle popcorn" src="<%=asset_path('logo.png')%>"></span>pcorn</h3>
                            <p class="text-muted mb-4">Connecting NIT K like never before!</p>
                            
                            
                            

                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                              <%= render "devise/shared/error_messages", resource: resource %>
                            
                              <div class="form-group mb-3">
                                <%= f.email_field :email, placeholder:"NITK Email",autofocus: true, autocomplete: "email" , class:"form-control rounded-pill border-0 shadow-sm px-4"%>
                              </div>

                              <div class="form-group mb-3">
                                <%= f.text_field :username, placeholder:"Name",autofocus: true, class:"form-control rounded-pill border-0 shadow-sm px-4"%>
                              </div>

                              <div class="form-group mb-3">
                                <%= f.date_field :birthday, placeholder:"Date of birth",autofocus: true, class:"form-control rounded-pill border-0 shadow-sm px-4"%>
                              </div>
                            
                              <div class="form-group mb-3">
                                
                              
                                <%= f.password_field :password,type:"password" , placeholder:"Password",autocomplete: "new-password" , class:"form-control rounded-pill border-0 shadow-sm px-4"%>
                              </div>

                              <div class="form-group mb-3">
                                
                              
                              <%= f.password_field :password_confirmation,type:"password" , placeholder:"Confirm password",autocomplete: "new-password" , class:"form-control rounded-pill border-0 shadow-sm px-4"%>
                             
                              </div>
                          
                              <label class="terms-label">By signing up you agree to our terms and services</label>
                              <div class="actions">
                                <%= f.submit "Sign up" , class:"btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm" %>
                              </div>
                            <% end %>
                            
                            <%= render "devise/shared/links" %>
                            

                        </div>
                    </div>
                </div><!-- End -->

            </div>
        </div><!-- End -->

    </div>
</div>









