<div class="container postholder">
  <div class="row">
     <div class="col-9"><p class="username" ><img class="rounded-circle" src="<%=asset_path('logo.png')%>"> <%=obj.user.username.capitalize if obj.user.username%></p></div>
     <div class="col-3"><p class="date"><%=obj.created_at.strftime("%d %b")%></p></div>
  </div>
  <div class="row">
    <div class="col-12"><p class="pop"><%=obj.post%></p></div>
    
 </div>
 <div class="row">
  <div class="col-10 response">
    <%if obj.liked?(current_user)%>
    
    <i class="bi bi-heart-fill"></i>
    <%else%>
    <i class="bi bi-heart"></i>
    <%end%>
    <i class="bi bi-chat-square-dots"></i>
    <i class="bi bi-arrow-90deg-right"></i>
  </div> 
</div>

<p>4900 Heart  25 Comments</p>
<div class="row">
  <div class="col-10 comment">
    Add a comment...
  </div> 
  <div class="col-2">Post</div>
 </div>
</div>



<!-- 

<div class="card col-8">
  <div class="card-header">
    <%=obj.title%>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%=obj.post%></p>
      <hr>
      <div class="row">
      <div class="col-4">
      <%= link_to "Show" , post_path(obj) , class:"badge badge-primary" %>
      <%= link_to "Like" , like_path(obj) , remote:true, method: :put , class:"badge badge-danger" %>
      <%=obj.likes.count%>
      </div>
      <div class="col-4">
      </div>

      <div class="col-4">
       <%=obj.created_at.strftime("%d %b %y")%>
      </div>
      </div>

      </blockquote>
      <footer><%=render "layouts/comment" , obj:obj%></footer>
      <%=render "layouts/commentSection" , obj:obj%>
  </div>
</div>


</div> -->