<!--<div class="container postholder">-->
<!--  <div class="row">-->
<!--     <div class="col-9">-->
<!--       <p class="username" ><img class="rounded-circle profile-logo" src="https://w7.pngwing.com/pngs/88/959/png-transparent-scorpio-taurus-astrological-sign-astrology-aries-taurus-text-logo-computer-wallpaper.png"> <a href="<%#=profile_path(obj.user)%>"><%#=obj.user.username.capitalize%></a></p></div>-->
<!--     <div class="col-3"><p class="date"><%#=obj.created_at.strftime("%d %b")%></p></div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-12"><p class="pop"> <img class="quote" src="<%#=asset_path('quote.svg')%>"><%#=obj.post%> </p> </div>-->
    
<!-- </div>-->
<!-- <div class="row">-->
<!--  <div class="col-8 response">-->
    <%#if obj.liked?(current_user)%>
    
<!--    <i class="bi bi-heart-fill">Hearted</i>-->
    <%#else%>
    
    <%#= link_to '<i class="bi bi-heart">Heart</i>'.html_safe , like_path(obj) , remote:true, method: :put  %>
    
    <%#end%>
   
    <%#= link_to '<i class="bi bi-chat-square-dots">Comment</i>'.html_safe , post_path(obj) %>
    
<!--    <a href="whatsapp://send?text=<%#=obj.post%>"       data-action="share/whatsapp/share"  -->
<!--        target="_blank"> <i class="bi bi-arrow-90deg-right">Share</i> </a>-->
<!--  </div>-->
<!--  <div class="col-4 d-flex justify-content-end like-count"><p><%#=pluralize(obj.likes.count , "Heart")%> </p></div> -->
<!--</div>-->

<div class="bg-white w-full rounded p-5">
  <div class="w-full pb-8 flex flex-row justify-between items-center">
    <a class="block" href="<%=profile_path(obj.user)%>">

  <div class="flex-row flex items-center">
    <img class="rounded-full w-10 border-4 border-blue-500" src="https://w7.pngwing.com/pngs/88/959/png-transparent-scorpio-taurus-astrological-sign-astrology-aries-taurus-text-logo-computer-wallpaper.png">
    <h6 class="font-medium pl-4 text-xl text-primary hover:underline"><%=obj.user.username.capitalize%></h6>
  </div>
    </a>

    <p class="text-primary text-sm">
      <%=obj.created_at.strftime("%d %b")%>
    </p>
  </div>

  <div class="flex-row flex justify-between items-start pb-8">
    <p class="text-gray-800 font-extralight text-3xl leading-relaxed pr-1">
      <%=obj.post.capitalize%> ~
    </p>
    <img class="w-48px top-0 right-0 opacity-20" alt="quote image" src="<%=asset_path('quote.svg')%>"/>
  </div>

  <div class="">
      <span class="material-icons text-gray-700 opacity-90 hover:opacity-100 cursor-pointer">favorite</span>

    <%= link_to post_path(obj) do%>
      <span class="material-icons text-gray-700  pl-2 opacity-90 hover:opacity-100 cursor-pointer">comment</span>

      <%end%>
    <span class="material-icons text-gray-700  pl-2 opacity-90 hover:opacity-100 cursor-pointer">share</span>

  </div>

</div>

</div>

