<% obj.each do |o|%>
<div class="row justify-content-center">
<div class="card col-8">
  <div class="card-header">
    <%=o.title%>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%=o.post%></p>
      <hr>
      <%= link_to "Show" , post_path(o) , class:"badge badge-primary" %>
      <%= link_to "Like" , like_path(o) , method: :put , class:"badge badge-danger" %>
      <%= link_to "Comment" , post_path(o) , class:"badge badge-light" %>
    </blockquote>
  </div>
</div>
</div>
<%end%>