<div class="container postholder">
  <div class="row">
     <div class="col-10"><p class="username"><i class="bi bi-droplet-half"></i>Anas Aijaz</p></div>
     <div class="col-2"><p class="date">12 Aug</p></div>
  </div>
  <div class="row">
    <div class="col-12"><p class="pop">There is no GOD! anymore cause there are snitches now and they will bite you in sleep and will make you shit your pants</p></div>
    
 </div>
 <div class="row">
  <div class="col-10 response">
    <i class="bi bi-suit-heart"></i>
    <i class="bi bi-chat-square-dots"></i>
    <i class="bi bi-arrow-90deg-right"></i>
  </div> 
</div>

<p>4900 Heart  25 Comments</p>
<div class="row">
  <div class="col-10 comment">
    Add a comment...
  </div> 
  <div class="col-2">Post</div>
 </div>
</div>



<div class="card col-8">
  <div class="card-header">
    <%=obj.title%>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%=obj.post%></p>
      <hr>
      <div class="row">
      <div class="col-4">
      <%= link_to "Show" , post_path(obj) , class:"badge badge-primary" %>
      <%= link_to "Like" , like_path(obj) , method: :put , class:"badge badge-danger" %>
      <%=obj.likes.count%>
      </div>
      <div class="col-4">
      </div>

      <div class="col-4">
       <%=obj.created_at.strftime("%d %b %y")%>
      </div>
      </div>

      </blockquote>
      <footer><%=render "layouts/comment" , obj:obj%></footer>
      <%=render "layouts/commentSection" , obj:obj%>
  </div>
</div>


</div>