<% obj.each do |o|%>
<div class="row justify-content-center">
<div class="card col-8">
  <div class="card-header">
    <%=o.title%>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%=o.post%></p>
      <hr>
      <div class="row">
      <div class="col-8">
      <%= link_to "Show" , post_path(o) , class:"badge badge-primary" %>
      <%= link_to "Like" , like_path(o) , method: :put , class:"badge badge-danger" %>
      <%= link_to "Comment" , post_path(o) , class:"badge badge-light" %>
      </div>
      <div class="col-4">
       <%=o.likes.count%>
      </div>
      </div>
      </blockquote>
      <footer><%=render "layouts/comment"%></footer>
  </div>
</div>
</div>
<%end%>