<div class="container postholder">
  <div class="row">
     <div class="col-9"><p class="username" ><img class="rounded-circle profile-logo" src="https://w7.pngwing.com/pngs/88/959/png-transparent-scorpio-taurus-astrological-sign-astrology-aries-taurus-text-logo-computer-wallpaper.png"> <a href="<%=profile_path(obj.user)%>"><%=obj.user.username.capitalize%></a></p></div>
     <div class="col-3"><p class="date"><%=obj.created_at.strftime("%d %b")%></p></div>
  </div>
  <div class="row">
    <div class="col-12"><p class="pop"> <img class="quote" src="<%=asset_path('quote.svg')%>"><%=obj.post%> </p> </div>
    
 </div>
 <div class="row">
  <div class="col-8 response">
    <%if obj.liked?(current_user)%>
    
    <i class="bi bi-heart-fill">Hearted</i>
    <%else%>
    
    <%= link_to '<i class="bi bi-heart">Heart</i>'.html_safe , like_path(obj) , remote:true, method: :put  %>
    
    <%end%>
   
    <%= link_to '<i class="bi bi-chat-square-dots">Comment</i>'.html_safe , post_path(obj) %>
    <i class="bi bi-arrow-90deg-right">Share</i>
  </div>
  <div class="col-4 d-flex justify-content-end like-count"><p><%=pluralize(obj.likes.count , "Heart")%> </p></div> 
</div>




<!-- 

<div class="card col-8">
  <div class="card-header">
    <%=obj.title%>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%=obj.post%></p>
      <hr>
      <div class="row">
      <div class="col-4">
      <%= link_to "Show" , post_path(obj) , class:"badge badge-primary" %>
      <%= link_to "Like" , like_path(obj) , remote:true, method: :put , class:"badge badge-danger" %>
      <%=obj.likes.count%>
      </div>
      <div class="col-4">
      </div>

      <div class="col-4">
       <%=obj.created_at.strftime("%d %b %y")%>
      </div>
      </div>

      </blockquote>
      <footer><%=render "layouts/comment" , obj:obj%></footer>
      <%=render "layouts/commentSection" , obj:obj%>
  </div>
</div>


</div> -->